@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 30 10% 95%; /* Warm Gray */
  --foreground: 185 80% 25%; /* Dark Teal */
  --card: 0 0% 98%; /* Neutral Gray */
  --card-foreground: 185 80% 25%; /* Dark Teal */
  --popover: 0 0% 98%; /* Neutral Gray */
  --popover-foreground: 185 80% 25%; /* Dark Teal */
  --primary: 160 50% 70%; /* Mint Green */
  --primary-foreground: 185 80% 25%; /* Dark Teal or 0 0% 98% if you want a lighter text on primary*/
  --secondary: 15 70% 80%; /* Soft Coral */
  --secondary-foreground: 0 0% 98%; /* Lighter text color */
  --accent: 55 80% 90%; /* Pale Lemon */
}
